body {
    background-color:aqua;
}

h1 {
    text-align:center;
}

::selection {
    background: #ff0000; /* WebKit/Blink Browsers */
  }
  ::-moz-selection {
    background: #ff0000; /* Gecko Browsers */
  }